@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
/*
.toolbar-background { background-color:rgba(255, 0, 0, 0)   !important; }
*/
.toolbar-background { background-color:rgb(69, 161, 201)   !important; }

.title{
    padding: 15px;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    color: #000000;
    font-weight:200;
    height:60px;
}

.store_name{
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 15px;
    //margin-top: 25px;
    margin-top: 25px;
    font-weight: bold;
    
}

/*---------------------------*/
/* 定義內容                   */
/*---------------------------*/

.ion-content { height: auto !important; }

.content{
    max-width:100%;
    background:linear-gradient(350deg,rgb(114, 123, 202),rgb(158, 236, 247));
    max-height:100%;
    height:100%;
    -webkit-overflow-scrolling:none;
}
///----------------
.no-scroll .scroll-content{
    overflow: hidden;
  }

///----------------------

.number{ 
    height: 90px;
    font-size: 45px;
    line-height: 90px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    background: rgba(232,230,230,0.4px);
    border-radius: 20px;
}
///----------------------
.common{
    margin-left: 15px;
    margin-right: 15px;
}
.common .grid{
    margin: auto;
    padding: 0px;
}
.common .col{
    text-align: center;
    margin:auto;
}
.common .button{
    height:60px;
    background: rgba(220,111,115,0.9px);
    margin:auto;
    margin-bottom: 20px;
    font-size:25px;
    width:100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:200;
    border: none;
    float: left;
    border-radius: 50px;
}
  
.common .button:active {
    background: rgba(130,28,28,0.7px);
}
  

  //---------------------

.keyboard {
    margin:15px;
    padding:10px;
    
}
.keyboard .grid{
    background: rgba(232,230,230,0.2px);
    //background: rgba(0, 0, 0,0.5);
    //height:220px;
    height: 220px;
    padding:10px;
    border-radius: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:500;
}

.keyboard .button{
    height:60px;
    background: rgba(53, 109, 206, 0.9);
    color: #FFFEFF;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size:25px;
    width:30%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:200;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.keyboard .button:active {
    background: rgba(40,71,128,0.98px);
}

.keyboard .inputBox{ 
    margin:auto;
    margin-top: 10px;
    width: 95%;
    height: 40px;
    font-family: 'Noto Sans TC', sans-serif;
    background: rgba(232,230,230,0.7px);
    padding:0px; 
    padding-bottom:30px; 
    padding-left: 15px;
    border-radius: 20px;
    position: static;
    font-size: 21px;
}


.inputBox .input{
    height: 20px;
    line-height:20px;
    font-size: 18px;
    padding-top:0px; 
    padding-bottom:0px;
}



//-----------------------------------------
.scroll-content { 
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    bottom: 0px !important;
}
