@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.toolbar-background { background-color:rgba(255, 0, 0, 0)   !important; }

/*---------------------------*/
/* 定義內容                   */
/*---------------------------*/
.content{
    max-width:100%;
    background:linear-gradient(10deg,#4E5EFC,#4EE7FC);
}

.number{ 
    margin: 7px;
    margin-top: 70px;
    margin-bottom: 20px;
   
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:200;
    font-size: 50px;
    font-weight: bold;
    background: rgba(232,230,230,0.4px);
    padding:10px;
    border-radius: 20px;
}
///----------------------
.common .grid{
    margin: auto;
    padding: 0px;
  }
.common .col{
    text-align: center;
    margin:auto;
  }
.common .button{
    height:60px;
    background: rgba(255,79,49,0.8px);
    margin:auto;
    margin-bottom: 20px;
    font-size:25px;
    width:100%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:200;
    border: none;
    float: left;
    border-radius: 50px;
}
  
.common .button:active {
    background: rgba(130,28,28,0.7px);
}
  
  //---------------------

.keyboard{
    background: rgba(232,230,230,0.2px);
    margin:8px;
    height:250px;
    padding:10px;
    border-radius: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:500;
}
.inputNum .input{
    height: 50px;
    font-size: 28px;
    background: #fff8ed80;    
}
.inputNum .button{
    height:50px;
    background: rgba(68,114,196,0.9);
    color: #FFFEFF;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size:25px;
    width:30%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight:200;
    border: none;
    border-radius: 50px;
}
.inputNum .button:active {
    background: rgba(40,71,128,0.98px);
}



